@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@100;400&display=swap");
.nav-link {
  cursor: pointer;
}
.hero_bg {
  background-image: url("/one.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  min-height: 500px;
}
.body {
  background-color: #ffffff;
}
.brand {
  color: #fc7d7b !important;
}
.link {
  color: #fc7d7b !important;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  color: #fc7d7b !important;
}

/* Hero section btn */
.hero_main_btn {
  background-color: #fc7d7b !important;
  color: #ffffff !important;
  border: #fc7d7b !important;
}

.hero_main_btn:hover {
  background-color: #fc7d7b !important;
  color: #ffffff !important;
  border: #fc7d7b !important;
}

.hero_sec_btn {
  background-color: #ffffff !important;
  color: #fc7d7b !important;
  border: #fc7d7b !important;
  border: 1px solid #fc7d7b !important;
}

.hero_sec_btn:hover {
  /* margin-right: 50px; */
  background-color: #ffffff !important;
  color: #fc7d7b !important;
  border: 1px solid #fc7d7b !important;
}

/* Hero section btn */

.icon {
  font-size: 20px;
}

.icon:hover {
  font-size: 20px;
  color: #d0312d !important;
}

.footer {
  min-height: 30vh;
}
